body, html {
    margin: 0;
    height: 100%;
  }
  
  .heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #da00a7; /* Cambiar el color de fondo según tu preferencia */
  }
  
  .heart {
    width: 200px; /* Tamaño del corazón */
    height: 180px; /* Tamaño del corazón */
    position: relative;
    transform: translate(-50%, -50%);
    background-color: transparent;
    animation: heartbeat 1s infinite;
  }
  
  .heart::before,
  .heart::after {
    content: '';
    width: 100px; /* Tamaño de la mitad del corazón */
    height: 160px; /* Tamaño de la mitad del corazón */
    position: absolute;
    top: 0;
    border-radius: 50px 50px 0 0;
    background-color: rgb(174, 0, 255); /* Corazón morado */
  }
  
  .heart::before {
    left: 100px; /* Posiciona la mitad derecha del corazón */
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  
  .heart::after {
    left: 0; /* Posiciona la mitad izquierda del corazón */
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
  
  .text {
    font-size: 18px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Asegura que el texto esté encima del corazón */
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  